:root {
    --dark: rgb(0, 36, 43);
    --dark-transparent: rgba(0, 36, 43, .65);
    --dark-transparent-less: rgba(0, 36, 43, .8);
    --green: rgb(0, 166, 126);
    --white: rgb(248, 248, 248);
    --dark-text: var(--dark);
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

html {
    font-family: 'Brandon Grotesque Medium', sans-serif;
    font-size: 1.2rem;
    background-color: var(--dark);
    color: var(--white);
    min-height: 100%;
    position: relative;
}

@media (min-width: 1437px) {
    html::before {
        display: block;
        height: 100%;
        width: 232px;
        content: '';
        background: url('/img/border-left.jpg') repeat-y;
        position: absolute;
        top: 0;
        left: 0;
        animation: .25s ease-in-out 0s 1 slideInLeft;
    }

    html::after {
        display: block;
        height: 100%;
        width: 205px;
        content: '';
        background: url('/img/border-right.jpg') repeat-y;
        position: absolute;
        top: 0;
        right: 0;
        animation: .25s ease-in-out 0s 1 slideInRight;
    }
}

body {
    max-width: 1000px;
    margin: 20px auto;
    min-height: 100vh;
    display: grid;
    grid-gap: 40px;
    justify-items: center;
    padding: .25rem;
}

nav ul {
    display: grid;
    justify-items: center;
}

@media (min-width: 768px) {
    nav ul {
        grid-auto-flow: column;
        grid-gap: 20px 40px;
    }
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    padding: 10px;
}

nav a::after {
    display: block;
    content: '';
    border-bottom: 2px solid var(--green);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

nav a:hover::after,
nav a:focus::after {
    transform: scaleX(1);
}

.video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    width: 100%;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section {
    width: 100%;
}

section + section {
    margin-bottom: 1rem;
}

section h2 {
    font-size: 1.8rem;
    display: inline-block;
    padding: 0 1rem .1rem .25rem;
    border-bottom: 3px solid var(--green);
    margin-bottom: 2rem;
}

.lineup {
    display: grid;
    grid-gap: 20px;
}

.day {
    display: grid;
    grid-gap: 1rem;
}

.artist {
    display: grid;
    overflow: hidden;
}

.artist img {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artist .overlay {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    background-color: var(--dark-transparent);
    transform: translateY(80%);
    display: grid;
    align-items: center;
    justify-items: center;
}

.artist * {
    transition: .5s;
}

.artist p {
    align-self: start;
    font-size: 1.3rem;
}

@media (min-width: 768px) {
    .artist .overlay {
        transform: translateY(85%);
    }
}

.artist:hover,
.artist:focus {
    cursor: pointer;
}

.artist:hover .overlay,
.artist:focus .overlay {
    background-color: var(--dark-transparent-less);
    transform: translateY(0);
}

.artist:hover .name,
.artist:focus .name {
    transform: translateY(50%);
    font-size: 2.5rem;
}

@media (min-width: 768px) {
    .lineup {
        grid-template-columns: 1fr 1fr;
    }
}

h3 {
    justify-self: center;
    font-size: 1.5rem;
}

iframe {
    display: block;
    height: 480px;
    width: 100%;
    max-width: 1000px;
    margin: 0;
}

@media (min-width: 768px) {
    .widget_yurplan {
        margin: 0 auto;
    }
}

form {
    display: grid;
    grid-gap: .5rem;
    align-items: center;
}

input, select, textarea {
    padding: .5rem;
    border: 1px solid var(--white);
    border-radius: 3px;
    color: var(--dark-text);
}

textarea {
    resize: vertical;
}

button {
    padding: .5rem;
    background: var(--green);
    color: var(--white);
    border: 0;
    border-radius: 5px;
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    form {
        grid-template-columns: auto 3fr;
        grid-gap: 1.5rem;
    }

    form button {
        grid-column: 2 / -1;
    }
}

.sponsors {
    --columns: 2;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    justify-items: center;
    align-items: center;
    grid-gap: 20px;
}

@media (min-width: 550px) {
    .sponsors {
        --columns: 3;
    }
}

@media (min-width: 768px) {
    .sponsors {
        --columns: 4;
    }
}

.footer {
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: var(--white);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.modal .content {
    width: 100%;
    position: relative;
    margin: auto;
    background: var(--dark-transparent-less);
    align-self: center;
    justify-self: center;
    padding: 2rem 0 1rem 0;
    box-shadow: 0 0 20px var(--dark-transparent-less);
}

@media (min-width: 768px) {
    .modal .content {
        width: 60%;
        max-width: 1000px;
        padding: 1rem;
    }
}

.modal h3 {
    text-align: center;
    font-size: 2rem;
    font-variant: small-caps;
}

.modal h4 {
    text-align: center;
    font-size: 1.25rem;
}

.modal .video iframe {
    margin: auto;
}

.modal .close {
    --button-size: 2rem;
    height: var(--button-size);
    width: var(--button-size);
    position: absolute;
    top: 0;
    right: 0;
    font-size: var(--button-size);
    color: rgba(255, 255, 255, .50);
    text-align: center;
    transition: .2s;
}

@media (min-width: 768px) {
    .modal .close {
        --button-size: 3rem;
    }
}

.modal .close:hover,
.modal .close:focus {
    cursor: pointer;
    color: var(--white);
}

.modal.open {
    display: flex;
}

.modal-legal h4 {
    text-align: left;
    margin-top: 1rem;
}

.modal-legal address {
    margin-bottom: 2rem;
}

.embed-helloasso {
    display: flex;
    justify-content: center;
}
